@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rowdies:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body {
  background: linear-gradient(to right bottom,#1D3679,#63ACB0);
  display: grid;
  place-items: center;
  font-family: 'Rowdies', cursive;
  user-select: none;
}

.clock {
  background: linear-gradient(to right bottom,#63ACB0);
  padding: 30px;
  text-align: center;
  color: #291850;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5),
              -3px -3px 7px rgba(255,255,255,0.05);
}

span {
  padding-top: 5px;
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  color: #fff;
}